<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About us</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap"
        rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400;1,500&display=swap" rel="stylesheet">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/about_css.css">
    
</head>

<body>
    <section class="main d-flex flex-row justify-content-center align-items-start">

        <section class="maincontent d-flex flex-column justify-content-center align-items-start">



            <section class="toprow d-flex flex-column align-items-center justify-content-between">
                <section class="toptoprow d-flex flex-row align-items-center justify-content-between">
                    <section class="toptoprowleft d-flex flex-row justify-content-start align-items-center">
                        <img src="pictures/zanklilogo3.png" alt="Logo of Zankli Patient Portal" class="logo">
                        <div class="searchdiv d-flex flex-row justify-content-start align-items-center">
                            <!-- <label for="searchbar">Search</label> -->
                            <input type="text" class="searchbar" name="searchbar" placeholder="Search">
                        </div>
                    </section>
                    <section class="toptoprowright d-flex flex-row justify-content-end align-items-center">
                        <button class="btn btn-light appointmentbutton2">Book an appointment</button>
                        <button class="btn btn-light callbutton">Call</button>
                    </section>

                </section>
                <section class="bottomtoprow d-flex flex-row justify-content-center align-items-center">
                    <span class="links">About us</span>
                    <span class="links">Our Doctors</span>
                    <span class="links">Our Services</span>
                
                </section>
                <section class="servicesdropdown-inactive">
                    <span class="servicesitems"><a href="">Emergency Services</a></span>
                    <span class="servicesitems"><a href="">ICU & NICU</a></span>
                    <span class="servicesitems"><a href="">Operation Theatre</a></span>
                    <span class="servicesitems"><a href="">Cardiac Catherizaton Lab</a></span>
                    <span class="servicesitems"><a href="">Zankli Day Surgery Center</a></span>
                    <span class="servicesitems"><a href="">Hospital Rooms</a></span>
                    <span class="servicesitems"><a href="">Pharmacy</a></span>
                    <span class="servicesitems"><a href="">Insuracne Partners</a></span>
                </section>    
            </section>
            <section class="middlerow">
                <section class="middlerowsection">
                    <img src="pictures/hospital2.jpg" alt="" class="hospitalpic">
                </section>
            </section>
            <section class="bottomrow d-flex flex-row justify-content-center align-items-center">
                <button class="btn btn-dark appointmentbutton1">Book an appointment</button>
            </section>


        </section>

    </section>
<script src="js/about.js"></script>
</body>

</html>