<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About - Zankli Patient Portal</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400;1,500&display=swap"
        rel="stylesheet">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/about-emergency-pharmacy.css">
</head>

<body>
    <!-- <h1>Log in here !!!</h1> -->
    <section class="main d-flex flex-row justify-content-center align-items-start">
        <section class="maincontent d-flex flex-column justify-content-start align-items-center">
            <section class="aephead d-flex flex-column justify-content-center align-items-center">
                <img src="pictures/zanklilogo3.png" alt="Logo of Zankli Patient Portal" class="logo">
                <iframe src="https://giphy.com/embed/lo9OHBZzaM7W8Lg5L0" width="480" height="212" frameBorder="0"
                    class="giphy-embed" allowFullScreen></iframe>
                <p></p>

                <a class="btn btn-light doctorhome" href="/home">Homepage</a>
            </section>
            <section class="aepbody d-flex flex-column justify-content-start align-items-center">
                <section class="aeptitle">
                    About us
                </section>
                <section class="aepbodypiccontainer">
                    <img src="/pictures/about.jpg" alt="Picture of a hospital" class="aepbodypic">
                </section>

                <section class="aepbodytext">
                    Health issues are becoming more prevalent by the day in our world. With its patient-centered
                    approach to healthcare, zankli Hospital seeks to make a difference. The comfort of the patients is
                    of the utmost importance, and the roomy interiors, contemporary facilities, and highly qualified
                    healthcare professionals foster a positive environment that is supportive of healing. Zankli is a state-of-the-art multi-speciality hospital where doctors adopt a multidisciplinary approach to
                    provide holistic treatment to patients.The most modern Intensive Care Unit in the area is available
                    at Zankli Hospital.

                    <br>
                    <br>

                    Zankli Hospital is a 162 bed facility with:
                    <ul>
                        <li>JCI Accreditation</li>
                        <li>4 outstanding equipped operating theaters</li>
                        <li>Twin sharing rooms</li>
                        <li>Single rooms</li>
                        <li>Day Surgery Unit</li>
                        <li>Dialysis Unit</li>
                        <li>Five intensive care units (ICUs) including an Isolation unit</li>
                        <li>Labour room</li>
                        <li>8 pediatric ICU beds including an Isolation unit</li>
                        <li>Baby Nursery</li>
                    </ul>
      
                </section>



            </section>
        </section>
    </section>

</body>

</html>