<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booking</title>
</head>
<body>
    <h1>Booking confirmed: </h1>
    <h3>Patient ID : <%= patientid %> </h3>
    <h3>Appointment ID : <%= appointmentid %> </h3>


    <h3>Thank you. <%= doc %>  has been notified of your reservation</h3>
    <h3>Your appointment is on <%= appointmentdate %> </h3>

    <a href="/home"><h3>Go to Homepage</h3></a>
    
</body>
</html>