<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our Doctors - Zankli Patient Portal</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400;1,500&display=swap"
        rel="stylesheet">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/doctors.css">
</head>

<body>
    <!-- <h1>Log in here !!!</h1> -->
    <section class="main d-flex flex-row justify-content-center align-items-start">
        <section class="maincontent d-flex flex-column justify-content-start align-items-center">
            <section class="doctorshead d-flex flex-column justify-content-center align-items-center">
                <img src="pictures/zanklilogo3.png" alt="Logo of Zankli Patient Portal" class="logo">
                <iframe src="https://giphy.com/embed/lo9OHBZzaM7W8Lg5L0" width="480" height="212" frameBorder="0"
                    class="giphy-embed" allowFullScreen></iframe>
                <p></p>

                <a class="btn btn-light doctorhome" href="/home">Homepage</a>
            </section>
            <section class="doctorsbody d-flex flex-column justify-content-start align-items-start">

                <section class="doctorstop d-flex flex-row justify-content-center align-items-start">
                    <section class="doctorsleft d-flex flex-column justify-content-start align-items-center">
                        <div class="doctor d-flex flex-column justify-content-start align-items-center">
                            <img src="/pictures/maledoc1.png" alt="" class="doctorpic">
                            <span class="doctorname">Diem Truong</span>
                            <span class="doctorspecialty">Acupuncturist</span>
                        </div>

                        <div class="doctor d-flex flex-column justify-content-start align-items-center">
                            <img src="/pictures/femaledoc2.png" alt="" class="doctorpic">
                            <span class="doctorname">Monique Rivera</span>
                            <span class="doctorspecialty">Acupuncturist</span>
                        </div>

                        <div class="doctor d-flex flex-column justify-content-start align-items-center">
                            <img src="/pictures/femaledoc1.png" alt="" class="doctorpic">
                            <span class="doctorname">Tiffany Randazzo</span>
                            <span class="doctorspecialty">Nurse Practictioner</span>
                        </div>

                        <div class="doctor d-flex flex-column justify-content-start align-items-center">
                            <img src="/pictures/maledoc1.png" alt="" class="doctorpic">
                            <span class="doctorname">Dr. Dimitri Kessaris</span>
                            <span class="doctorspecialty">Urologist</span>
                        </div>

                        <div class="doctor d-flex flex-column justify-content-start align-items-center">
                            <img src="/pictures/maledoc1.png" alt="" class="doctorpic">
                            <span class="doctorname">Dr. Sourab Choudhury</span>
                            <span class="doctorspecialty">Pediatric Dermatoloigist</span>
                        </div>

                        <div class="doctor d-flex flex-column justify-content-start align-items-center">
                            <img src="/pictures/maledoc1.png" alt="" class="doctorpic">
                            <span class="doctorname">Dr. Lyubov Avshalumova</span>
                            <span class="doctorspecialty">Dermatologist</span>
                        </div>

                        <div class="doctor d-flex flex-column justify-content-start align-items-center">
                            <img src="/pictures/femaledoc2.png" alt="" class="doctorpic">
                            <span class="doctorname">Dr. Dina Began</span>
                            <span class="doctorspecialty">Dermatologist</span>
                        </div>

                        <div class="doctor d-flex flex-column justify-content-start align-items-center">
                            <img src="/pictures/maledoc1.png" alt="" class="doctorpic">
                            <span class="doctorname">Dr. Isaac Namdar</span>
                            <span class="doctorspecialty">Surgeon</span>
                        </div>


                        <div class="doctor d-flex flex-column justify-content-start align-items-center">
                            <img src="/pictures/maledoc1.png" alt="" class="doctorpic">
                            <span class="doctorname">Dr. David Culang</span>
                            <span class="doctorspecialty">Ear, Nose & Throat Doctor</span>
                        </div>

                        <div class="doctor d-flex flex-column justify-content-start align-items-center">
                            <img src="/pictures/maledoc1.png" alt="" class="doctorpic">
                            <span class="doctorname">Dr. George Castro</span>
                            <span class="doctorspecialty">Pulmonologist</span>
                        </div>

                        <div class="doctor d-flex flex-column justify-content-start align-items-center">
                            <img src="/pictures/maledoc1.png" alt="" class="doctorpic">
                            <span class="doctorname">Dr. Babar Rao</span>
                            <span class="doctorspecialty">Dermatologist</span>
                        </div>
                        <div class="doctor d-flex flex-column justify-content-start align-items-center">
                            <img src="/pictures/maledoc1.png" alt="" class="doctorpic">
                            <span class="doctorname">Dr. George Castro</span>
                            <span class="doctorspecialty">Pulmonologist</span>
                        </div>

                    </section>

                    <section class="doctorsright d-flex flex-column justify-content-start align-items-center">
                        
                        
                       

                        <div class="doctor d-flex flex-column justify-content-start align-items-center">
                            <img src="/pictures/maledoc1.png" alt="" class="doctorpic">
                            <span class="doctorname">Dr. Babar Rao</span>
                            <span class="doctorspecialty">Dermatologist</span>
                        </div>

                        <div class="doctor d-flex flex-column justify-content-start align-items-center">
                            <img src="/pictures/maledoc1.png" alt="" class="doctorpic">
                            <span class="doctorname">Matthew Pabis</span>
                            <span class="doctorspecialty">Family Physician</span>
                        </div>


                        <div class="doctor d-flex flex-column justify-content-start align-items-center">
                            <img src="/pictures/maledoc1.png" alt="" class="doctorpic">
                            <span class="doctorname">Dr. Franklin Lowe</span>
                            <span class="doctorspecialty">Urologist</span>
                        </div>


                        <div class="doctor d-flex flex-column justify-content-start align-items-center">
                            <img src="/pictures/femaledoc1.png" alt="" class="doctorpic">
                            <span class="doctorname">Dr. Marina Marcu</span>
                            <span class="doctorspecialty">Allergist</span>
                        </div>

                        <div class="doctor d-flex flex-column justify-content-start align-items-center">
                            <img src="/pictures/femaledoc1.png" alt="" class="doctorpic">
                            <span class="doctorname">Dr. Sanjosh Singh</span>
                            <span class="doctorspecialty">Dermatologist</span>
                        </div>

                        <div class="doctor d-flex flex-column justify-content-start align-items-center">
                            <img src="/pictures/femaledoc1.png" alt="" class="doctorpic">
                            <span class="doctorname">Dr. Vathani Packianatha</span>
                            <span class="doctorspecialty">Allergist</span>
                        </div>

                        <div class="doctor d-flex flex-column justify-content-start align-items-center">
                            <img src="/pictures/femaledoc2.png" alt="" class="doctorpic">
                            <span class="doctorname">Lydia Wu</span>
                            <span class="doctorspecialty">Family Physician</span>
                        </div>

                        <div class="doctor d-flex flex-column justify-content-start align-items-center">
                            <img src="/pictures/maledoc1.png" alt="" class="doctorpic">
                            <span class="doctorname">Dr. Doron Katz</span>
                            <span class="doctorspecialty">Primary Care Doctor</span>
                        </div>

                        <div class="doctor d-flex flex-column justify-content-start align-items-center">
                            <img src="/pictures/femaledoc1.png" alt="" class="doctorpic">
                            <span class="doctorname">Dr. Shanna Levine</span>
                            <span class="doctorspecialty">Acupuncturist</span>
                        </div>

                        <div class="doctor d-flex flex-column justify-content-start align-items-center">
                            <img src="/pictures/maledoc1.png" alt="" class="doctorpic">
                            <span class="doctorname">Dr. Kamran Jafri</span>
                            <span class="doctorspecialty">Ear, Nose & Throat Doctor</span>
                        </div>

                        <div class="doctor d-flex flex-column justify-content-start align-items-center">
                            <img src="/pictures/maledoc1.png" alt="" class="doctorpic">
                            <span class="doctorname">Dr. David Volpi</span>
                            <span class="doctorspecialty">Ear, Nose & Throat Doctor</span>
                        </div>



                    </section>
                </section>




            </section>
        </section>
    </section>

</body>

</html>