<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emergency - Zankli Patient Portal</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400;1,500&display=swap"
        rel="stylesheet">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/about-emergency-pharmacy.css">
</head>

<body>
    <!-- <h1>Log in here !!!</h1> -->
    <section class="main d-flex flex-row justify-content-center align-items-start">
        <section class="maincontent d-flex flex-column justify-content-start align-items-center">
            <section class="aephead d-flex flex-column justify-content-center align-items-center">
                <img src="pictures/zanklilogo3.png" alt="Logo of Zankli Patient Portal" class="logo">
                <iframe src="https://giphy.com/embed/lo9OHBZzaM7W8Lg5L0" width="480" height="212" frameBorder="0"
                    class="giphy-embed" allowFullScreen></iframe>
                <p></p>

                <a class="btn btn-light doctorhome" href="/home">Homepage</a>
            </section>
            <section class="aepbody d-flex flex-column justify-content-start align-items-center">
                <section class="aeptitle">
                    Emergency Services
                </section>
                <section class="aepbodypiccontainer">
                    <img src="/pictures/emergency.jpg" alt="Picture of a hospital" class="aepbodypic">
                </section>

                <section class="aepbodytext">
                    An emergency scenario is a significant, unanticipated, and frequently urgent circumstance needing
                    quick response. To deliver emergency care with the highest level of efficiency, our emergency
                    services combine unmatched medical experience, the rapid thinking of our medical personnel, and
                    cutting-edge technology.

                    <br>
                    <br>

                    Our emergency unit is open around-the-clock, seven days a week, and constantly on the lookout for
                    any medical emergencies. The emergency department (ED) of Zankli Hospital is staffed by some of the
                    top emergency medicine doctors, who provide a wide range of treatments for people in need of urgent
                    care.

                    <br>
                    <br>

                    While patients receive emergency medical care, our emergency rooms are meant to create a relaxing
                    and friendly environment. To protect the privacy of patients and their families, we keep the beds
                    for emergency and trauma care in the treatment area well apart and curtained. To guarantee that
                    medications are always available, a 24-hour pharmacy supports the emergency care unit.

                    <br>
                    <br>

                    One of the best resources for providing effective and clinically great diagnosis and treatment is
                    our Emergency and Critical Care Department. We are a unit that offers emergency care
                    around-the-clock. We are one of the greatest emergency services in Nigeria thanks to our
                    critical-care doctors, physicians, and medicine/medical treatment for injuries.







                </section>



            </section>
        </section>
    </section>

</body>

</html>