<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About us</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap"
        rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400;1,500&display=swap" rel="stylesheet">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/login.css">
</head>
<body>
    <!-- <h1>Log in here !!!</h1> -->
    <section class="main d-flex flex-row justify-content-center align-items-start">
        <section class="maincontent d-flex flex-column justify-content-start align-items-center">
            <section class="loginhead d-flex flex-column justify-content-center align-items-center">
                <img src="pictures/zanklilogo3.png" alt="Logo of Zankli Patient Portal" class="logo">
                <iframe src="https://giphy.com/embed/lo9OHBZzaM7W8Lg5L0" width="480" height="212" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p></p>
                
            </section>
            <section class="loginbody d-flex flex-column justify-content-center align-items-center">
                <form action="/about" method="post" class="loginform d-flex flex-column justify-content-start align-items-center">
                  
                        <input type="text" name="username" id="user" class="formelement" placeholder="Your username"autocomplete="off">

                  
                        <input type="password" name="password" id="pass" class="formelement" placeholder="Your password" autocomplete="off">
                   
                    <button class="btn btn-dark" id="loginbutton">Login</button>
                </form>
            </section>
        </section>
    </section>
    
</body>
</html>