*{
    font-family: 'Raleway', sans-serif;
    /* border: 1px solid red; */
    box-sizing: border-box;
}

body,html{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}

.main{
    height: 100%;
    width: 100%;
}

.maincontent{
    height: 100%;
    width: 60%;
}


.toprow{
    height: 30%;
    width: 100%;
    box-shadow: 1px 1px 12px rgb(234, 234, 234);
}

.middlerow{
    height: 40%;
    width: 100%;
}

.bottomrow{
    height: 30%;
    width: 100%;
}

.logo{
    width: 40%;
    height: 80%;
    margin-right: 0.5rem;
}

.searchdiv{
    width: 60%;
    height: 40%;
    /* margin-right: 2rem; */
}

.searchbar{
    width: 100%;
    height: 80%;
    margin-left: 2rem;
}

.toptoprow{
    width: 100%;
    height: 50%;
    padding: 0 1rem;
}

.bottomtoprow{
    width: 100%;
    height: 50%;
}

.toptoprowleft{
    width: 60%;
    height: 100%;
}


.toptoprowright{
    width: 40%;
    height: 100%;
}

.callbutton{
    margin-left: 1rem;
}

.links{
    margin-right: 0.8rem;
    text-decoration: underline;
}
.links:hover{
    color: blue;
    cursor:pointer;
}