*{
    /* font-family: 'Raleway', sans-serif; */
    font-family: 'Nunito', sans-serif;
    /* border: 1px solid red; */
    box-sizing: border-box;
}

body,html{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}

.main{
    height: 100%;
    width: 100%;
}

.maincontent{
    height: 100%;
    width: 60%;
}


.toprow{
    height: 30%;
    width: 100%;
    box-shadow: 1px 1px 12px #eaeaea;
}

.middlerow{
    height: 50%;
    width: 100%;
}

.bottomrow{
    height: 20%;
    width: 100%;
}

.logo{
    width: 40%;
    height: 80%;
    margin-right: 0.5rem;
}

.searchdiv{
    width: 60%;
    height: 40%;
    /* margin-right: 2rem; */
}

.searchbar{
    width: 100%;
    height: 80%;
    margin-left: 2rem;
}

.toptoprow{
    width: 100%;
    height: 50%;
    padding: 0 1rem;
}

.logout{
    width: 100%;
    height: 10%;
    padding-right: 1rem;
}

.logoutbutton{
    color: black;
    text-decoration: none;
    width: 5rem;
    height: 2rem;
    font-size: 1rem;
    text-align: center;
}

.bottomtoprow{
    width: 100%;
    height: 40%;
}

.toptoprowleft{
    width: 60%;
    height: 100%;
}


.toptoprowright{
    width: 40%;
    height: 100%;
}

.callbutton{
    margin-left: 1rem;
}

.links{
    margin-right: 2rem;
    /* text-decoration: underline; */
    border-bottom: 1px solid black;
    text-align: center;
    text-decoration: none;
    color: black    ;
}
.links:hover{
    color: rgb(54, 54, 54);
    cursor:pointer;
}
.links:nth-child(3){
    margin-right: 0;
}

.middlerowsection{
    height: 100%;
    width: 100%;
}

.hospitalpic{
    width: 100%;
    height: 100%;
}

.appointmentbutton1{
    width: 50%;
    height: 50%;
    font-size: 1.5rem;
    background-color: rebeccapurple;
}

.servicesdropdown-active{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: absolute;
    top: 8.8rem;
    left: 51.9rem;
    width: 15rem;
    height: 0;
    z-index: 100;
    background-color: white;
    box-shadow: 1px 1px 2px #eaeaea;
    /* transition: top 2s; */
    /* border: 1px solid rebeccapurple; */
    opacity: 0;
}

.servicesdropdown-active:hover{
    height: 19rem;
    opacity: 0.99;
    transition: opacity 0.5s;
}

.servicesdropdown-inactive{
    display: none;
}

.servicesitems{
    width: 100%;
    height: 1.8rem;
    font-size: 1rem;
    text-align: left;
    margin-bottom: 0.6rem;
    padding: 0.4rem 0.4rem;
    /* background-color: #eaeaea; */
}

.servicesitems>a{
    color: black;
    text-decoration: none;
}